<% if resources.present? && resources.errors.any? %>
  <%= content_tag :div, class: 'resource-errors', data: { resources_id: resources.id } do %>
    <h2>
      <%= t('.header', count: resources.errors.count) %>:
    </h2>

    <ul>
      <% resources.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
