<footer>
  <hr>
  <p>Разработчик: Dmitry V.</p>
  <p><%= github_url("Vostrikov2014", "test_guru") %></p>
  <p><%= link_to("Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: :_blank) %> | <%= current_year %> г.</p>
  <p><%= link_to 'Feedback', new_feedback_path %></p>
</footer>
